
:root{

    --MAIN-TEXT-color:#e3dfe6; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #fff; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: rgb(255, 0, 64); /* Color of links */
    --MAIN-LINK-HOVER-color:#f359c5; /* Color of hovered links */
    --MAIN-ANCHOR-color: #d3d0ef; /* color of anchors on titles */

    --MENU-HOME-LINK-color: #323232; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color:#ffffff; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#d7d1db; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#872A2A; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #872A2A; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #c7f7c4; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#1b211c; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#181818 ; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #542881; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #ba4538; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #ba4538; /* Color of <hr> separator in menu */

    --DARK-PURPLE-GRAY-color: #463b4c;

    --NOTICE-WARNING-TOP-color: #ba4538;
    --NOTICE-WARNING-BOTTOM-color: #f3dcd9;
    --NOTICES-TIP-TOP-color: #257c2e; 
    --NOTICES-TIP-BOTTOM-color: #c2ebc6;
    --NOTICES-INFO-TOP-color: #b18035 ;
    --NOTICES-INFO-BOTTOM-color: #eddfc9;
    --NOTICES-NOTE-TOP-color: #3096a1;
    --NOTICES-NOTE-BOTTOM-color: #c3e7eb;
}

body {
    color: var(--MAIN-TEXT-color) !important;
    background-color: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

.topics img {
    vertical-align: middle !important;
    display: inline-block !important;
}


h1 {
    color: var(--MAIN-TEXT-color);
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
    font-weight: 500;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#homelinks {
  background: var(--MENU-HEADER-BG-color);
  background-color: var(--MENU-HEADER-BORDER-color);
  border-bottom-color: var(--MENU-HEADER-BORDER-color);
}

#homelinks a {
  color: var(--MENU-HOME-LINK-color);
}

#homelinks a:hover {
  color: var(--MENU-HOME-LINK-HOVERED-color);
}

#sidebar #header-wrapper {
    background-image: url(/images/spicyquest.png);
    background-size: cover;
}

div.notices.warning p {
    border-top: 30px solid var(--NOTICE-WARNING-TOP-color) !important;
    background: var(--NOTICE-WARNING-BOTTOM-color) !important;
    color: black;
    font-weight: 500;
}

div.notices.tip p {
    border-top: 30px solid var(--NOTICES-TIP-TOP-color) !important;
    background: var(--NOTICES-TIP-BOTTOM-color) !important;
    color: black;
    font-weight: 500;
}

div.notices.info p {
    border-top: 30px solid var(--NOTICES-INFO-TOP-color) !important;
    background: var(--NOTICES-INFO-BOTTOM-color) !important;
    color: black;
    font-weight: 500;
}

div.notices.note p {
    border-top: 30px solid var(--NOTICES-NOTE-TOP-color) !important;
    background: var(--NOTICES-NOTE-BOTTOM-color) !important;
    color: black;
    font-weight: 500;
}

blockquote {
    border-left: 10px solid #b336a7 !important;
}
blockquote p {
    color:#fff;
}

#top-bar {
    background-color: var(--MENU-SEARCH-BG-color);
    border: 1px solid white;
}

th {
    background-color: var(--MENU-SEARCH-BG-color);
    color:  white;
}
tr {
    background-color: var(--MENU-SECTIONS-BG-color);
    color: white;
}

#body .tags a.tag-link {
    background-color: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color) !important;
}

.tags a.tag-link:before {
    border-color: transparent var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color) transparent transparent !important;
}

/* This selector comes from the parent theme and is overridden here */
#sidebar ul.topics li.parent ul, #sidebar ul.topics > li.active ul {
    display: none;
}
  
/* This resets display to block for our new ul.parent class */
#sidebar ul.topics li.parent > ul.parent {
    display: block;
}